@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido a nuestra Biblioteca Digital!</h1>
    <p class="lead mt-3">Descubre un mundo de conocimiento con nuestra colección de libros y autores.</p>
    <div class="mt-4">
        <a class="btn btn-primary w-25" href="/Books">Ver Libros</a>
        <a class="btn btn-success w-25" href="/Authors">Ver Autores</a>
    </div>
</div>